<?xml version="1.0" encoding="utf-8"?>

<launch>

  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>
  
   <!-- Start subsciber -->
  <!-- <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" /> -->
  
  
  <!-- Start darknet and ros wrapper -->
  <include file="$(find darknet_ros)/launch/darknet_ros.launch"/>
  
  <node pkg="acc_logic_ros" type="acc_logic_node" name="acc_logic_node" output="screen"/>

</launch>
